/** start of nav bar **/

.topnav {
  background-color: #34495E;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #FDFEFE  ;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #FDFEFE ;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color:#34495E ;
  color:#FDFEFE   ;
}


/** end of nav bar **/




body{
background-color: gray;
margin: 0px;
font-family: 'Cabin';
}

h1{
font-size:50px;
text-align:center;

}

img{
margin-right: auto;
margin-left: auto;
display:block;
margin-top: 50px;
width:80%;
height: auto;
}
#arms{
height:280px;
}
.columns{
display:inline-block;
width:100%;

}

.safety{
background-image: linear-gradient(#34495E,blue,lightblue);
float: left;
width: 30%;
clear: both;
height: 1000px;



}
.idk{
  margin-top: 90px;
}
.target{
background-image: linear-gradient(#34495E,blue,lightblue);
    float: left;
    padding-left: 100px;
    padding-right: 42.5px;
    width: 30%;
height: 1000px;
}

.reach{
background-image: linear-gradient(#34495E,blue,lightblue);
    float: right;
    width: 30%;

    height: 1000px;


}

.safety, .target, .reach{
margin-top: 10px;


 }





 /** start of hidden text code**/

 .clearfix:before,
.clearfix:after{
content: "";
display: table;

}

.clearfix:after{
clear: both;
}

.clearfix{
*zoom:1;
}

.hiddenimg {
  display: none;
  font-size:25px;
}

.hiddentxt {
  font-weight: bold;
  color: black;
  font-size: 30px;
}

.hiddentxt a {
  color: black;
  text-decoration: none;
}

.hiddenclick {
  font-weight: bold;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.hiddenclick a {
  color: black;
  text-decoration: none;
}

.hiddenclick a:visited {
  color: black;
  text-decoration: none;
}

.hiddentxt:hover ~ .hiddenimg {
  display: block;
}
